# Redes Neurais

Neste exercício, será usado o dataset Diabetes.

# Importando o dataset

In [1]:
import pandas as pd
# Import scikit-learn dataset library
from sklearn import datasets

import warnings
warnings.filterwarnings('ignore')

In [2]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']

df_diabetes = pd.read_csv("./dados/diabetes.csv", header=0, names=col_names)

df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
pregnant    768 non-null int64
glucose     768 non-null int64
bp          768 non-null int64
skin        768 non-null int64
insulin     768 non-null int64
bmi         768 non-null float64
pedigree    768 non-null float64
age         768 non-null int64
label       768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [3]:
df_diabetes.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

# Normalizando os dados

In [20]:
# Importing the scaler
from sklearn.preprocessing import StandardScaler

# Instantiate it
scaler = StandardScaler()

# Apply transformation and break dataset into X and y
X =  pd.DataFrame(scaler.fit_transform(df_diabetes.drop(['label'], axis=1)))
y = df_diabetes['label']

In [21]:
X.head()

,0,1,2,3,4,5,6,7
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496

In [22]:
X.shape

(768, 8)

In [9]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: label, dtype: int64

# Importando o tensorFlow

In [23]:
import tensorflow as tf
import datetime

# Separando em treino e teste

In [24]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y,test_size=0.20, random_state=42)

# Montando a rede

### Instanciando o modelo sequencial

In [25]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(8,)), # camada para transformar a imagem 28x28 em um vetor unidimensional
  tf.keras.layers.Dense(512, activation=tf.nn.relu), # 512 neuronios fully connected com ativação por ReLU
  tf.keras.layers.Dropout(0.2), # Dropout de 20% da última camada
  tf.keras.layers.Dense(3, activation=tf.nn.softmax) # 10 neurônios softmax, para classificação. Um para cada categoria
])

### Definindo Loss Function e Otimizador

In [26]:
model.compile(optimizer='adam', # Estamos utilizando o ADAM
              loss='sparse_categorical_crossentropy', # nossa loss function é entropia cross-categórica
              metrics=['accuracy']) # nossa métrica base será acc. Podemos utilizar mais de uma métrica

### Realizando o .fit do modelo com 5 epochs

In [27]:
model.fit(Xtrain, ytrain, epochs=5)
model.evaluate(Xtest, ytest)

Train on 614 samples
Epoch 1/5
614/614 [==============================] - 0s 385us/sample - loss: 0.8481 - accuracy: 0.6645
Epoch 2/5
614/614 [==============================] - 0s 72us/sample - loss: 0.5688 - accuracy: 0.7590
Epoch 3/5
614/614 [==============================] - 0s 71us/sample - loss: 0.4997 - accuracy: 0.7687
Epoch 4/5
614/614 [==============================] - 0s 62us/sample - loss: 0.4753 - accuracy: 0.7704
Epoch 5/5
614/614 [==============================] - 0s 105us/sample - loss: 0.4609 - accuracy: 0.7785
154/154 [==============================] - 0s 449us/sample - loss: 0.5230 - accuracy: 0.7597

[0.5230006142096086, 0.75974023]

Acurácia de 0,75%