# Redes Neurais

Neste exercício será usado um dataset de fraudes em cartão de crédito.

# Importando o dataset

In [2]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [3]:
data_path =  'C:\\Users\\Marcos\\Documents\\datascience_course\\Resumo_Aulas\\dados\\creditcard.csv'

df = pd.read_csv(data_path)

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

# Normalizando os dados

In [6]:
# Importing the scaler
from sklearn.preprocessing import StandardScaler

# Instantiate it
scaler = StandardScaler()

# Apply transformation and break dataset into X and y
X =  pd.DataFrame(scaler.fit_transform(df.drop(['Class'], axis=1)))
y = df['Class']

In [7]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-1.996583,-0.694242,-0.044075,1.672773,0.973366,-0.245117,0.347068,0.193679,0.082637,0.331128,...,0.326118,-0.024923,0.382854,-0.176911,0.110507,0.246585,-0.392170,0.330892,-0.063781,0.244964
1,-1.996583,0.608496,0.161176,0.109797,0.316523,0.043483,-0.061820,-0.063700,0.071253,-0.232494,...,-0.089611,-0.307377,-0.880077,0.162201,-0.561131,0.320694,0.261069,-0.022256,0.044608,-0.342475
2,-1.996562,-0.693500,-0.811578,1.169468,0.268231,-0.364572,1.351454,0.639776,0.207373,-1.378675,...,0.680975,0.337632,1.063358,1.456320,-1.138092,-0.628537,-0.288447,-0.137137,-0.181021,1.160686
3,-1.996562,-0.493325,-0.112169,1.182516,-0.609727,-0.007469,0.936150,0.192071,0.316018,-1.262503,...,-0.269855,-0.147443,0.007267,-0.304777,-1.941027,1.241904,-0.460217,0.155396,0.186189,0.140534
4,-1.996541,-0.591330,0.531541,1.021412,0.284655,-0.295015,0.071999,0.479302,-0.226510,0.744326,...,0.529939,-0.012839,1.100011,-0.220123,0.233250,-0.395202,1.041611,0.543620,0.651816,-0.073403

In [14]:
X.shape

(284807, 30)

# Importando o TensorFlow

In [8]:
import tensorflow as tf

# Separando em treino e teste

In [9]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y,test_size=0.20, random_state=42)

# Montando a rede

## Instanciando o modelo sequencial

In [15]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(30,)), # camada para transformar em um vetor unidimensional
  tf.keras.layers.Dense(512, activation=tf.nn.relu), # 512 neuronios fully connected com ativação por ReLU
  tf.keras.layers.Dropout(0.2), # Dropout de 20% da última camada
  tf.keras.layers.Dense(3, activation=tf.nn.softmax) # 10 neurônios softmax, para classificação. Um para cada categoria
])

## Definindo Loss Function e Otimizador

In [16]:
model.compile(optimizer='adam', # Estamos utilizando o ADAM
              loss='sparse_categorical_crossentropy', # nossa loss function é entropia cross-categórica
              metrics=['accuracy']) # nossa métrica base será acc. Podemos utilizar mais de uma métrica

## Realizando o .fit do modelo com 5 epochs

In [17]:
model.fit(Xtrain, ytrain, epochs=5)
model.evaluate(Xtest, ytest)

WARNING: Logging before flag parsing goes to stderr.
W0718 14:20:48.086689   992 deprecation.py:323] From C:\Users\Marcos\Anaconda3\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Train on 227845 samples
Epoch 1/5
227845/227845 [==============================] - 14s 63us/sample - loss: 0.0077 - accuracy: 0.9990
Epoch 2/5
227845/227845 [==============================] - 14s 60us/sample - loss: 0.0047 - accuracy: 0.9993
Epoch 3/5
227845/227845 [==============================] - 13s 59us/sample - loss: 0.0050 - accuracy: 0.9993
Epoch 4/5
227845/227845 [==============================] - 14s 60us/sample - loss: 0.0046 - accuracy: 0.9993
Epoch 5/5
227845/227845 [==============================] - 14s 62us/sample - loss: 0.0043 - accuracy: 0.9993
56962/56962 [==============================] - 1s 25us/sample - loss: 0.0036 - accuracy: 0.9993

[0.0035641348094756615, 0.9992802]